body {
    font-family: sans-serif;
    margin: 0;padding: 0;
    background: linear-gradient(to right, black,blue, purple);
    box-sizing : border-box;

  }
  main {
    display: flex;
    flex-direction: column;
    margin: 2em;
  }
  main h3{
    margin-left: 5px;
    align-items: left;
    font-size: 20px;
    padding-left: 15px;
    color: #fff;
    width: 170px;
    background-color: rgb(235, 111, 132);
    border-radius: 5px;
  }
  main h1{
    align-items: left;
    color: #fff;
    font-size: 50px;
    background: -webkit-linear-gradient(#0f7c58, #e73f3f, #3099a7, #e29797,#3fe7a1);
    -webkit-background-clip: text;
    background-clip: none ;
    -webkit-text-fill-color: transparent;
  }
  main p{
    font-size: 25px;
    color: #fff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    color: #fff;
    font-size: 20px;
    margin-right: 1065px;
  }

  
  input[type="file"] {
    margin-bottom: 1em;
    color: #fff;
   margin-right: 945px;
  }
  
  button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 1065px;
  }
  
  button[type="submit"]:hover {
    cursor: pointer;
    background-color: #555;
  }
  
  #output {
    margin-top: 2em;
    border: 1px solid #ccc;
    padding: 1em;
    width: 600px;
    height: 200px;
    overflow-y: scroll;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
  }
/*Header*/
header {
  background-color: #333;
  color: #fff;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.descimg
{
  position: absolute;
  margin-bottom: 400px;
  margin-left: 700px;
  margin-top: -25%;
}
.img
{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: 20px;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  nav li {
    margin-left: 0;
    margin-top: 10px;
  }
}
/*Home page*/
.mainhome
{
  height: 500px;
}
.mainhome h1
{
color: #fff;
text-align: center;
padding-top: 150px;
}
.mainhome p{
  width: 500px;
text-align: center;
  color: #fff;
  margin-left: 400px;
  height: 300px;
}
@media only screen and (max-width: 768px)
{
  .mainhome h1
  {
    font-size: 20px;
  }
  .mainhome p{
  text-align: center;
    color: #fff;
    font-size: 12px;
    width: 300px;
    margin-left: 200px;
    height: 380px;
  }
}
/*Card*/
.cs 
{
  color:white;
 text-align: center;
}
.carMain
{
  display : flex;
  align-items : center;
  justify-content : center;  
  background-color: #43345d;
  min-height : 500px;
}
.container {
  position : relative;
  width : 1100px;
  display : flex;
  align-items : center;
  justify-content : center;
  padding : 5px;  
}

.container .card {
  position: relative;
  max-width : 300px;
  height : 215px;  
  background-color : #fff;
  margin : 30px 10px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
}
.container .card:hover {
  height : 320px;    
}


.container .card .image {
  position : relative;
  width : 260px;
  height : 260px;
  
  top : -40%;
  left: 8px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  top : -140px;
  padding : 10px 15px;
  color : #111;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}

