<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Css/style.css">
    <title>Document</title>
</head>
<body>
<!--HEADER-->
<header>
<div class="logo"><img src="/static/img/logo.png" class="img"></div>
<nav>
<ul>
<li><a href="{% url 'index' %}">Home</a></li>
<li><a href="{% url 'home' %}">About</a></li>
<li><a href="{% url 'about' %}">Service</a></li>
<li><a href="{% url 'FAQ' %}">FAQ</a></li>
</ul>
</nav>
</header>
<!--DESCRIPTION PORTION-->
<div>
    <h1 class="policy">Term & Privacy</h1>
    <p class="Para">Please read the terms and conditions before using our website.By accessing this website (imageonline.co), you agree to be bound by these Website Terms of Use, all applicable laws and regulations, and agree that you are responsible for compliance with all applicable local laws. These Terms of Service govern all of our Services, which are offered subject to your consent without modification to these Terms of Service. If you do not agree to any of these terms, you are prohibited from using or accessing this site.
    </p>
    <h1 class="poli">
    Disclaimer
    </h1>
    <p class="Para">The services provided on this website are provided "as is". This website makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other infringement. Further, this website does not warrant or make any representations regarding the accuracy, likely results, or reliability of the use of the services on its website or otherwise related to such materials or on any sites linked to this site.</p>
    <h1 class="poli">
    Limitations
    </h1>
<p class="Para">In no event shall this website or its suppliers be liable for any damages (including, without limitation, damages for loss of data or as a result of business interruption) arising out of the use or inability to use the services on this website, even if this website has been made available notified of such damage. Because some jurisdictions do not allow the limitation of implied warranties or the limitation of liability for consequential or incidental damages, these limitations may not apply to you.</p>
<h1 class="poli">
Revisions 
</h1>
<p class="Para">The services displayed on this website may include technical, typographical, or photographic errors. This website does not warrant that any service on its website is accurate, complete or up-to-date. This website may make changes to the services contained on its website at any time without notice.</p>
<h1 class="poli">
Links
</h1>
<p class="Para">This website has not reviewed all of the sites linked to its website and is not responsible for the content of any such linked site. The inclusion of any link does not imply endorsement by this website of the linked site. Use of any such linked website is at the user's own risk.</p>
<h1 class="poli">
Privacy Policy
</h1>
<p class="Para">You can read the privacy policy here.
Further details in the Terms and Conditions
In case of any further clarifications of our conditions, please contact us</p>
</div>
<!--FOOTER-->
<footer>
        <p>&copy; 2023 Image to Sketch Converter</p>
</footer>
</body>
</html>